In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("../Load_data/DataSet_dmgtakeTS.csv")
df.head()

,character,max_hp,entering_hp,damage_taken,enemies,A Thousand Cuts,A Thousand Cuts+1,Accuracy,Accuracy+1,Acrobatics,...,Unceasing Top,Vajra,Velvet Choker,WarpedTongs,Whetstone,White Beast Statue,WingedGreaves,WristBlade,enemy_type,level_asc_floor
0,THE_SILENT,77,77,0,50,0,0,0,0,0,...,0,0,0,0,0,0,0,0,comun,5
1,THE_SILENT,77,77,1,47,0,0,0,0,0,...,0,0,0,0,0,0,0,0,comun,7
2,THE_SILENT,77,61,20,19,0,0,0,0,0,...,0,0,0,0,0,0,0,0,elite,12
3,THE_SILENT,77,64,2,24,0,0,0,0,0,...,0,0,0,0,0,0,0,0,comun,19
4,THE_SILENT,77,62,6,39,0,0,0,0,0,...,0,0,0,0,0,0,0,0,comun,21

In [19]:
df.drop(columns=["character"], inplace=True)

In [20]:
df['grupo'] = df['level_asc_floor'] // 100
mean_damage_by_group = df.groupby('grupo')['damage_taken'].mean().reset_index()
df = df.merge(mean_damage_by_group, on='grupo', suffixes=('', '_media'))

In [27]:
df

,max_hp,entering_hp,damage_taken,enemies,A Thousand Cuts,A Thousand Cuts+1,Accuracy,Accuracy+1,Acrobatics,Acrobatics+1,...,Velvet Choker,WarpedTongs,Whetstone,White Beast Statue,WingedGreaves,WristBlade,enemy_type,level_asc_floor,grupo,damage_taken_media
0,77,77,0,50,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,5,0,8.810994
1,77,77,1,47,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,7,0,8.810994
2,77,61,20,19,0,0,0,0,0,0,...,0,0,0,0,0,0,elite,12,0,8.810994
3,77,64,2,24,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,19,0,8.810994
4,77,62,6,39,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,21,0,8.810994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95075,60,25,17,25,0,0,0,0,1,0,...,0,0,0,0,0,0,boss,1728,17,8.474054
95076,60,47,0,6,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1732,17,8.474054
95077,60,47,21,45,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1735,17,8.474054
95078,60,26,8,61,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1737,17,8.474054
95079,60,36,22,52,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1742,17,8.474054

In [21]:
mean_damage_by_group = df.groupby('grupo')['damage_taken'].mean().reset_index()
df = df.merge(mean_damage_by_group, on='grupo', suffixes=('', '_media'))

In [22]:
df[["grupo", "damage_taken_media"]].value_counts().sort_index()

grupo  damage_taken_media
0      8.810994              18756
1      8.972785               6173
2      9.316085               4271
3      9.959215               3310
4      8.829920               3516
5      8.806999               2886
6      8.114483               2603
7      8.836804               2065
8      8.903562               1825
9      8.963075               1327
10     8.933061               2450
11     9.001837               3267
12     9.053506               1925
13     8.992562               2151
14     8.289644               1854
15     7.980057               3510
16     8.593721               2134
17     8.474054               2987
18     9.097507               2687
19     8.140805               4176
20     8.078827              21173
21     17.764706                34
Name: count, dtype: int64

In [23]:
# df.drop(columns=["grupo"], inplace=True)

In [24]:
df

,max_hp,entering_hp,damage_taken,enemies,A Thousand Cuts,A Thousand Cuts+1,Accuracy,Accuracy+1,Acrobatics,Acrobatics+1,...,Velvet Choker,WarpedTongs,Whetstone,White Beast Statue,WingedGreaves,WristBlade,enemy_type,level_asc_floor,grupo,damage_taken_media
0,77,77,0,50,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,5,0,8.810994
1,77,77,1,47,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,7,0,8.810994
2,77,61,20,19,0,0,0,0,0,0,...,0,0,0,0,0,0,elite,12,0,8.810994
3,77,64,2,24,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,19,0,8.810994
4,77,62,6,39,0,0,0,0,0,0,...,0,0,0,0,0,0,comun,21,0,8.810994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95075,60,25,17,25,0,0,0,0,1,0,...,0,0,0,0,0,0,boss,1728,17,8.474054
95076,60,47,0,6,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1732,17,8.474054
95077,60,47,21,45,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1735,17,8.474054
95078,60,26,8,61,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1737,17,8.474054
95079,60,36,22,52,0,0,0,0,1,0,...,0,0,0,0,0,0,comun,1742,17,8.474054